*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    
    background-color: #607545;
}

header{
    color: white;
    text-align: center;
    padding: 1em;
}

.img-perfil{
    width: 15%;
}

/* .txt-perfil{

} */

footer{
    color: white;
    text-align: center;
    width: 1px;
}